@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Laboratório de análises clínicas</h1>
    <p class="lead">Cadastro da ordem de serviço de solicitação médica.</p>
    <p><a href="/OrdemServico" class="btn btn-primary btn-lg">Ordem de Serviço &raquo;</a></p>
</div>